@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-intro: hsl(217, 28%, 15%);
  --blue-main: hsl(218, 28%, 13%);
  --blue-footer: hsl(216, 53%, 9%);
  --blue-testimonials: hsl(219, 30%, 18%);
  --cyan-gradient: hsl(176, 68%, 64%);
  --blue-gradient: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
  --gradient: linear-gradient(to right, var(--cyan-gradient), var(--blue-gradient));
  --body-font: 'Open Sans', sans-serif;
  --heading-font: 'Raleway', sans-serif;
  --padding-container: 6rem 0;
}

body {
  font-size: 62.5%;
  font-family: var(--body-font);
  background-color: var(--blue-main);
}

/* Header Section */

.hero {
  background-color: var(--blue-intro);
  position: relative;
}

.hero__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  background-color: var(--blue-main);
}

.hero__wave::before {
  content: "";
  position: absolute;
  top: -100;
  width: 100%;
  height: 10rem;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-position: center;
  background-size: cover ;
  background-repeat: no-repeat;
}

.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 3rem 0;
  overflow: hidden;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  width: 7rem;
}

.nav__img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.nav__link {
  display: inline-block;
  margin-left: .4rem;
  color: var(--white);
  text-decoration: none;
  font-size: .6rem;
}

.nav__link:first-of-type {
  margin-left: auto;
}

/* Hero Main Section */

.hero__main {
  color: var(--white);
  display: grid;
  gap: 1rem;
  text-align: center;
  position: relative;
}

.hero__img {
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  max-width: 70rem;
}

.hero__title {
  font-family: var(--heading-font);
}

.hero__paragraph {
  line-height: 1.5;
  margin: 1rem 0;
}

.hero__cta {
  width: 60%;
  text-decoration: none;
  background-image: var(--gradient);
  place-self: center;
  padding: 1.2rem;
  border-radius: 1.5rem;
  font-family: var(--heading-font);
  color: var(--white);
  font-weight: bold;
}

/* Section main about*/

.about {
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.about__img {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.about__title {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  font-family: var(--heading-font);
}


/* Section productive */

.productive {
  color: var(--white);
  display: grid;
  gap: 3rem;
}

.productive__img {
  width: 100%;
  margin: 0 auto;
  max-width: 70rem;
}

.productive__title {
  font-family: var(--heading-font);
  margin-bottom: 1.4rem;
}

.productive__paragraph { 
  line-height: 1.7;
  margin-bottom: 1rem;
}

.productive__cta {
  display: inline-block;
  color: var(--cyan-gradient);
  line-height: 2.5;
  text-decoration: none;
  border-bottom: .1rem solid var(--cyan-gradient);
}

.productive__arrow {
  margin-left: .5rem;
  vertical-align: middle;
}

