@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-intro: hsl(217, 28%, 15%);
  --blue-main: hsl(218, 28%, 13%);
  --blue-footer: hsl(216, 53%, 9%);
  --blue-testimonials: hsl(219, 30%, 18%);
  --cyan-gradient: hsl(176, 68%, 64%);
  --blue-gradient: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
  --gradient: linear-gradient(to right, var(--cyan-gradient), var(--blue-gradient));
  --body-font: 'Open Sans', sans-serif;
  --heading-font: 'Raleway', sans-serif;
  --padding-container: 6rem 0;
}

body {
  font-size: 62.5%;
  font-family: var(--body-font);
  background-color: var(--blue-main);
}

/* Header Section */

.hero {
  background-color: var(--blue-intro);
  position: relative;
}

.hero__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  background-color: var(--blue-main);
}

.hero__wave::before {
  content: "";
  position: absolute;
  top: -100;
  width: 100%;
  height: 10rem;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-position: center;
  background-size: cover ;
  background-repeat: no-repeat;
}

.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 3rem 0;
  overflow: hidden;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  width: 7rem;
}

.nav__img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.nav__link {
  display: inline-block;
  margin-left: .4rem;
  color: var(--white);
  text-decoration: none;
  font-size: .6rem;
}

.nav__link:first-of-type {
  margin-left: auto;
}

/* Hero Main Section */

.hero__main {
  color: var(--white);
  display: grid;
  gap: 1rem;
  text-align: center;
  position: relative;
}

.hero__img {
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  max-width: 70rem;
}

.hero__title {
  font-family: var(--heading-font);
}

.hero__paragraph {
  line-height: 1.5;
  margin: 1rem 0;
}

.hero__cta {
  width: 60%;
  text-decoration: none;
  background-image: var(--gradient);
  place-self: center;
  padding: 1.2rem;
  border-radius: 1.5rem;
  font-family: var(--heading-font);
  color: var(--white);
  font-weight: bold;
}

/* Section main about*/

.about {
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.about__img {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.about__title {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  font-family: var(--heading-font);
}


/* Section productive */

.productive {
  color: var(--white);
  display: grid;
  gap: 3rem;
}

.productive__img {
  width: 100%;
  margin: 0 auto;
  max-width: 70rem;
}

.productive__title {
  font-family: var(--heading-font);
  margin-bottom: 1.4rem;
}

.productive__paragraph { 
  line-height: 1.7;
  margin-bottom: 1rem;
}

.productive__cta {
  display: inline-block;
  color: var(--cyan-gradient);
  line-height: 2.5;
  text-decoration: none;
  border-bottom: .1rem solid var(--cyan-gradient);
}

.productive__arrow {
  margin-left: .5rem;
  vertical-align: middle;
}

/* Section Card */

.card {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.card__item {
  background-color: var(--blue-testimonials);
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  border-radius: .4rem;
  box-shadow: .1rem .1rem 1rem -.5em rgba(255,255,255, .5);
}

.card__item--first {
  position: relative;
}

.card__item--first::before {
  content: "";
  position: absolute;
  top: -3rem;
  left: 0;
  background-image: url("../images/bg-quotes.png");
  width: 2rem;
  height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.card__profile {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.card__picture {
  width: 2.5rem;
  height: 2.5rem;
}

.card__img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card__info {
  margin-left: 1rem;
}

.card__name {
  font-size: .9rem;
  font-family: var(--heading-font)
}

.card__job {
  color: #aaa9a9;
}

/* Section join */

.join {
  background-image: linear-gradient(var(--blue-main) 50%, var(--blue-footer) 50%);
  color: var(--white);
  padding: 6rem 0;
}

.join__container {
  background-color: var(--blue-testimonials);
  border-radius: .8rem;
  padding: 1.2rem;
  text-align: center;
}

.join__title {
  font-family: var(--heading-font);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.join__paragraph {
  line-height: 1.5;
  margin-bottom: 1.5rem
}

.join__form {
  display: grid;
  gap: 1rem;
}

.join__input{
  padding: 1.2rem 1.8rem;
  font: inherit;
  border-radius: 2.2rem;  
  outline: none;
  border: none;
}

.join__input--submit {
  background-image: var(--gradient);
  color: var(--white);
  font-family: var(--heading-font);
  font-weight: bold;
}


/* Section footer */

.footer {
  background-color: var(--blue-footer);
  color: var(--white);
}

.footer__logo {
  width: 12rem;
  display: block;
  margin-bottom: 2rem;
}

.footer__content {
  display: grid;
  gap: 1rem;
}
.footer__contact {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  font-size: .8rem;
}

.footer__icon {
  margin-top: .3rem;
}

.footer__nav {
  margin-top: 2rem;
  display: grid;
  gap: .8rem;
}

.footer__link {
  text-decoration: none;
  color: var(--white);
  font-size: .8rem;
}

.footer__social {
  margin: 0 5rem;
}

.footer__media {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: .1rem solid;
  border-radius: 50%;
  margin-right: .6rem;
  margin-top: 2rem;
}
